.title-body-info-plantas {
  text-align: start;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.text-body-info-plantas {
  text-align: start;
  font-weight: 300;
  margin-left: 2.5rem;
}
