.flex-container {
  display: flex;
}

.card-privada {
  width: 38rem;
  height: 19rem;
  background-color: #e1e4e9;
  border: none;
  border-radius: 0.438rem;
  margin-top: 3.5rem;
  box-shadow: 5px 5px 10px black !important;
}

.imagen-card-privada {
  width: 12rem;
  height: auto;
  background-color: transparent;
  margin-top: -2rem;
}

.body-card-privada {
  margin-left: 8rem;
  margin-top: -12rem;
  text-align: center;
}

.boton-eliminar-privada {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 8rem;
}

.boton-calendar-privada {
  width: auto;
  display: flex;
  font-size: 17px;
  padding: 0rem;
  margin-right: 1rem;
}

.boton-telegram-privada {
  width: auto;
  display: flex;
  margin-left: 10rem;
  font-size: 17px;
  padding: 0rem;
  margin-top: 0.5rem;
}

#card-coleccion1 {
  color: black;
  font-size: 1.5rem;
}

.row-privada > * {
  width: auto;
}

.fa-pen {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.boton-editar {
  border: none;
  background-color: transparent;
}

@media (max-width: 480px) {
  .card-privada {
    width: 25rem;
    height: 15rem;
    margin-top: 3.5rem;
  }
  .imagen-card-privada {
    width: 10rem;
    height: auto;
    background-color: transparent;
    margin-top: -2rem;
  }
  #card-coleccion1 {
    color: black;
    font-size: 1.2rem;
  }
  .boton-telegram-privada {
    width: 2rem;
    margin-left: 11rem;
    margin-top: -0.5rem;
  }
  .telegram-boton {
    font-size: 0.8rem;
  }
  .calendar-boton {
    font-size: 0.8rem;
  }
  .eliminar-boton {
    font-size: 0.8rem;
    margin-top: -1.9rem;
    margin-left: 0.4rem;
  }
  .texto-card-privada {
    margin-top: 0.7rem;
  }
  .body-card-privada {
    margin-left: 9rem;
    margin-top: -12rem;
    text-align: center;
  }
  .texto-alias {
    margin-left: 2rem;
  }
  .fa-pen {
    margin-left: -0.5rem;
  }
}
