.cuidados-plantas-page-foto {
  width: 100%;
  height: auto;
  margin-left: 1rem;
  margin-top: -5rem;
}

.cuidado-plantas-header-texto {
  justify-content: center !important;
  align-items: center !important;
}
