@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&family=Moo+Lah+Lah&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Prompt:wght@100;800&family=Roboto:wght@100;500&family=Square+Peg&display=swap");

.header-background {
  margin: 0;
  padding: 0;
  margin-top: -6.25rem;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
  background-size: cover;
  max-height: 40rem;
}
.header-background-img {
  max-width: 100%;
  height: auto;
}

.header-title {
  color: #ffe175;
  margin-top: 8rem;
  font-family: "Montserrat", sans-serif;

  font-size: 3.5em;
  font-style: solid;
  margin-left: 8rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header-paragrap {
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-left: 10rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header-button-More {
  background-color: transparent;
  color: #ffe175;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;

  font-weight: 200;
}

.header-button-More:hover {
  color: #ffe175;
  background-color: transparent;
  border: none;
}
.header-button-More:focus {
  border: none;
  background-color: transparent;
}

.header-icon-arrow {
  color: #ffe175;
  margin-left: 1rem;
}

.header-logoLetrasAmarillo {
  justify-content: center;

  height: 18rem;
}

.header-logo-amarillo {
  margin-left: 30%;
}

.header-button-More-arrow {
  margin-left: 65%;
}

@media (max-width: 768px) {
  .header-title {
    margin-top: 8rem;

    font-size: 2rem;

    margin-left: 4rem;
  }

  .header-paragrap {
    display: none;
    font-size: 1.6rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .header-button-More {
    font-size: 1.3rem;
  }
  .header-logoLetrasAmarillo {
    height: 14rem;
  }
}
