@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

.header-background {
  margin: 0;
  padding: 0;
  margin-top: -6rem;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  /* width: 119rem;*/
  height: 50rem;
  width: 100%;
}

.header-title {
  color: #ffe175;
  margin-top: 10rem;
  font-family: "Montserrat", sans-serif;
  /* position: absolute; */
  font-size: 3rem;
  margin-left: 2rem;
  text-shadow: rgb(2, 66, 16) 0.1em 0.1em 0.2em;
}

.header-paragraph {
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-shadow: black 0.4em 0.3em 0.4em;
  /* position: absolute; */
  /* margin-top: 22rem; */
  /* margin-left: 8rem; */
}

.header-button-More {
  background-color: transparent;
  color: #ffe175;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-top: 30rem;
  font-weight: 200;
  /* text-align: right; */
  /* position: absolute;
  text-align: center;
  align-items: center; */
}

.header-button-More:hover {
  color: #ffe175;
  background-color: transparent;
  border: none;
}
.header-button-More:focus {
  border: none;
  background-color: transparent;
}

.header-icon-arrow {
  color: #ffe175;
  margin-left: 1rem;
}

.header-logoLetrasAmarillo {
  display: block;
  height: 28rem;

  /* margin-left: -13rem; */

  /* margin-right: 2rem; */
  /* margin-top: 28rem; */
  /* position: absolute; */
}

.header-button-More-arrow {
}
/*
/*movil*/
/*Portrait

@media (max-width: 480px) and (orientation: portrait) {
  .header-title {
    margin-top: 8rem;
    margin-left: 1rem;
    font-size: 3rem;
    align-items: center;
    text-align: center;
  }

  .header-paragrap {
    font-size: 2.2rem;
    margin-left: 2rem;
    margin-right: 2.5rem;
    margin-top: 16rem;
    align-items: center;
    text-align: center;
  }
  .header-logoLetrasAmarillo {
    display: none;
  }
  .header-background {
    width: 100%;
  }
  .header-button-More {
    margin-top: 40rem;
    font-size: 1.3rem;
  }
}

/*movil*/

/*Default
@media (max-width: 320px) and (orientation: portrait) {
  .header-title {
    margin-left: 4rem;
    font-size: 3rem;
    margin-top: 6rem;
    font-size: 2.5rem;
    width: 100%;
  }

  .header-paragrap {
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 2.5rem;
    margin-top: 15rem;
    width: 100%;
  }

  .header-background {
    width: 145%;
  }
  .header-button-More {
    margin-top: 45rem;
    font-size: 1.4rem;
    margin-left: -10rem;
  }
}
/*landscape
@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .header-title {
    margin-top: 8rem;
    margin-left: 1rem;
    font-size: 2.8rem;
    align-items: center;
    text-align: center;
  }

  .header-paragrap {
    font-size: 1.6rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 17rem;
    align-items: center;
    text-align: center;
  }
  .header-logoLetrasAmarillo {
    width: 70%;
    height: 95%;
    padding-left: 6.7rem;
    padding-top: 4rem;
  }
  .header-background {
    width: 100%;
  }
  .header-button-More {
    margin-top: 32rem;
    font-size: 1.3rem;
  }
}
/*fin movil*/
