.home-media-page {
  padding: 0;
}

.home-col-media-page-white {
  background-color: rgb(255, 255, 255);
}

.home-col-media-page-dark {
  background-color: #1f2824;
  margin-top: -5em;
  position: absolute;
}
.media-page-linea-larga {
  position: relative;
  width: 520px;
  margin-left: -10em;
  margin-top: -9em;
}

.media-page-plantas {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.card-home-col-media-page-card-interior {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
}

.media-page-planta-tarjetas-interior-foto {
  width: 100%;
  height: auto;

  background-color: transparent;
  margin-top: -80px;
  margin-right: -20px;

  margin-bottom: -15px;
}
.media-page-card-text-interior {
  justify-content: center;
  color: black;

  font-size: 30px;
  text-align: center;
}

.card-home-col-media-page-card-exterior {
  width: 80%;
  max-height: 10em;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
  margin-top: 100px;
}

.media-page-planta-tarjetas-exterior-foto {
  width: 150%;
  height: auto;
  background-color: transparent;
  margin-left: 13em;
  margin-top: -18em;
}

.media-page-card-text-exterior {
  color: black;
  margin-left: -5em;
  font-size: 30px;
  text-align: center;
  margin-top: 3.5em;
}

.card-home-col-media-page-card-suculentas {
  width: 80%;
  max-height: 10em;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
  margin-top: 80px;
}

.media-page-planta-tarjetas-suculentas-foto {
  width: 200%;
  height: auto;
  background-color: transparent;
  margin-left: 11.5em;
  margin-top: -18em;
}

.media-page-card-text-suculentas {
  color: black;
  margin-left: -3em;
  font-size: 30px;
  text-align: center;
  margin-top: 3.5em;
}

.media-page-planta-suelta {
  height: 250px;
  width: 195px;
  margin-left: 92em;

  margin-top: -10em;
}

.media-page-text {
  color: #ffe175;
  margin-left: 18em;
  font-size: 40px;
  margin-top: -5em;
}

.media-page-lineas-larga-blancas {
  position: relative;
  width: 520px;
  margin-left: 70em;
  margin-top: -15em;
}

.card-home-media-page-card-cuidado-plantas {
  text-align: center;
  width: 100%;
  max-height: 30em;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
  margin-top: 80px;
}
.media-page-card-cuidados-plagas-notificaciones {
  font-size: 28px;
}

.media-page-planta-tarjetas-cuidados-foto {
  width: 300px;
}
.media-page-planta-tarjetas-plagas-foto {
  width: 300px;
}

.card-home-media-page-card-plagas {
  text-align: center;
  width: 80%;
  height: 360px;
  max-height: 30em;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
  margin-top: 80px;
}

.card-home-media-page-card-notificaciones-riego {
  text-align: center;
  width: 130%;
  background-color: #e1e4e9;
  border: none;
  border-radius: 7px;
  margin-top: 80px;
}

.media-page-planta-tarjetas-plagas-foto {
  width: 250px;
  height: 290px;
  margin-top: -25em;
  margin-left: 10em;
  margin-right: 10em;
}

.media-page-planta-tarjetas-riego-foto {
  width: 130%;
}
