@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&family=Moo+Lah+Lah&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Prompt:wght@100;800&family=Roboto:wght@100;500&family=Square+Peg&display=swap");
.home-navbar {
  background-color: black;
}

.navbar-logo {
  height: 100px;
}

.navbar-button {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
}

.navbar-button:hover {
  color: #ffe175;
}
.navbar-search-button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.359);
  border-radius: 7px;
  margin-right: 10px;
}

.navbar-search-button i {
  position: absolute;
  right: 13px;
  top: 15px;
}
.form-control {
  height: 50px;
  background-color: #eeeeee2a;
  border: none;
  color: #000000;
}

.form-control:focus {
  background-color: #eeeeee69;
  box-shadow: none;
  border: none;
}
.form-control::placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.navbar-user-button {
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.359);
  border-radius: 7px;
  color: #000000;
  border: none;
  height: 52px;
}

.navbar-user-button:focus {
  background-color: #eeeeee69;
  box-shadow: none;
  border: none;
}

.navbar-user-button::placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
