@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Moo+Lah+Lah&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Prompt:wght@100;800&family=Roboto:wght@100;500&family=Square+Peg&display=swap");

.navbar-interior-button-2 {
  margin-right: 55px;
  margin-left: 55px;
  text-align: center;
  color: rgb(27, 4, 4);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.navbar-exterior-button2 {
  margin-right: 55px;
  margin-left: 55px;
  text-align: center;
  color: rgb(27, 4, 4);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.navbar-suculentas-button2 {
  margin-right: 55px;
  margin-left: 55px;
  text-align: center;
  color: rgb(27, 4, 4);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.navbar-cuidados-button2 {
  margin-right: 55px;
  margin-left: 55px;
  text-align: center;
  color: rgb(27, 4, 4);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.navbar-nosotros-button2 {
  margin-right: 55px;
  margin-left: 55px;
  text-align: center;
  color: rgb(27, 4, 4);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
}
