@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&family=Moo+Lah+Lah&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Prompt:wght@100;800&family=Roboto:wght@100;500&family=Square+Peg&display=swap");

.fondo-navbar {
  background-image: url("../img/fondoNavbar.jpeg");
  background-color: aquamarine;
}

.home-navbar {
  z-index: 1;
}

.home-navbar {
  background-color: transparent;
}

.navbar-font {
  font-family: "Montserrat", sans-serif;
}
.navbar-menu-button {
  background-color: none;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  padding-right: 0px;
}
.navbar-menu-button:focus {
  box-shadow: none;
  border: none;
}

.navbar-logo {
  height: 48px;
  padding-left: 20px;
}

.navbar-button {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  outline: none;
  border: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  text-shadow: black 0.2em 0.2em 0.2em;
}

.navbar-button:hover {
  color: #ffe175;
}
.navbar-search-button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.359);
  border-radius: 7px;
  margin-right: 10px;
}

.navbar-search-button i {
  position: absolute;
  right: 13px;
  top: 10px;
  color: #424242;
}
.navbar-form-control {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.359);
  border: none;
  color: #000000;
}

.navbar-form-control:focus {
  background-color: #eeeeee69;
  box-shadow: none;
  border: none;
}
.navbar-form-control::placeholder {
  color: #424242;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.navbar-user-button {
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.359);

  border-radius: 7px;
  color: #424242;
  border: none;
  height: 36px;
}

.navbar-user-button i {
  color: #424242;
}

.navbar-user-button:focus {
  background-color: #eeeeee69;
  box-shadow: none;
  border: none;
}

.navbar-user-button::placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.navbar-user-twobuttons {
  background-color: transparent;
  border: none;
}

.navbar-button-user-login {
  color: white;
}

.dropdown-text {
  color: black !important;
  font-size: 18px;
}
.dropdown-text:hover {
  background-color: transparent !important;
  color: #ffe175 !important;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}

.fondo-dropdown {
  opacity: 0.8;
}
a {
  text-decoration: none !important;
  color: #000000;
  font-size: 1.2rem;
}
a:hover {
  color: black;
}

.icono-user:hover {
  background-color: rgba(224, 224, 224, 0.669) !important;
}

#li-buscador {
  list-style: none;
}
@media (max-width: 768px) {
  .collapse-menu {
    position: absolute;
    margin-top: 25rem;
    background-color: #859889c7;
    margin-left: -1rem;
    margin-right: 5;
  }

  /*.navbar-search-button {
    color: transparent;
    background-color: rgba(98, 98, 98, 0.665);
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    border: none;
  }
  .navbar-user-button {
    text-decoration: none;

    margin-left: 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar-button-user-login {
    color: rgb(255, 255, 255);
    background-color: rgba(98, 98, 98, 0.665);
    border: none;
  }*/
}
